<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

 <title> Home </title>
 <style type="text/css">
 
 .jumbotron
 {
     background:rgba(179,176,203,0.66);
     
 }
 
 
 </style>
</head>
<body background="http://www.freevector.com/site_media/preview_images/FreeVector-Rain-Background.jpg">
    <div class="container">
        
        
        
        <div class="jumbotron">
           <center>
            <h1><font face= "Roboto" color="#544ab7" size="+6">Welcome to pH5.6</font></h1>
   <h3><font face="Roboto">This is your Dashboard</font></h3>  
            
          </center> 
      
            
        
        <br>
        <br>
            <br>
      
            <br>
        <center>
    
            <div class="row">
            <div class="col-sm-4">    
                <font face="Roboto" size="+2"> Contamination Index </font><br><br>
               <iframe src="/ldr"  width="200" height="200" style="border:none"></iframe><br><br>
                </div>
                <div class="col-sm-4">
                 <font face="Roboto" size="+2"> Water Level </font><br><br>
               <iframe src="/ultrasound" width="200" height="200" style="border:none"></iframe><br><br>
                </div>
                
                <div class="col-sm-4">
            
            
               
            
                <font face="Roboto" size="+2"> Water Temperature </font><br><br>
            <iframe src="/temp" width="200" height="200" style="border:none"></iframe><br><br>
                </div>
            </div>

            
            

              
        </center>
  
        <br>
        <script>
        function myfunction()
            {
                var x=document.getElementById("form1");
                var text=""
                var i=0;
                for(i=0;i<x.length;x++)
                    {
                        text+=x.elements[i].value;
                    }
                location.href="/setup1/"+text;
                
            }
        
        function closeLid()
        {
            location.href="/home"
            
        }
        </script>
        
      
        
 
    
        

  <center><input type="button" class="btn btn-info" value="Close the Lid" onclick="closeLid()"> </center> 
        </div>
           </div>

      <script src="bootstrap/js/bootstrap.min.js"></script>
 <script src="http://code.jquery.com/jquery.min.js"></script>
</div>
</body
</html>